a:hover {
    color:blue
}
img {
    width: 25vw;
    height: 25vw;
}
h2 {
    font-size: 50px;
    margin: -5px;
}
h3 {
    font-size: 40px;
    margin-bottom: 3px;
}
#quote-display {
    font-size: 24px;
    font-weight: 500;
}
h1 {
text-align: center;
}
body {
    background-color: coral;
}
#imgcaption {
    margin: 10px;
}
#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
#img-caption {
    text-align: center;
}